.table {
  border-collapse: collapse;
  width: 100%;
  color: white;

  &__row {
    text-align: left;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
    margin-bottom: 10px;
  }

  &__cell {
    padding: 10px;
    width: 30%;
  }
}

.positive {
  color: var(--color-green);
  background-color: var(--color-black);
}

.negative {
  color: var(--color-red);
  background-color: var(--color-black);
}
